@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@keyframes in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    transition: .5s ease;
    color: white;
}

body {
    animation: 1s ease-out 0s 1 in;
}

a{
    text-decoration: none;
}

div::after {
    content: "";
    clear: both;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(../media/img/IMG_4153.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
/*NAVIGATION BAR*/
.nav_bar{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgba(0, 0, 0, 1);
}

#logo{
    height:100%
}

#logo_text{
    margin: 0px 0px 0px 10px;
    font-size: 40px;
    color:rgb(200, 15, 200);
}

/*GRADIENT*/
.gradient{
    height: 5%;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5));
}

/*MAIN*/
.main{
    padding: 0% 10%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 450px 50px;
}

#text_ul{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.options{
    width: 100%;
}

.options ul{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    list-style-type: none;
    padding: 10px 10px 20px 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.li_options{
    margin-left: auto;
    margin-right: auto;
    width: 300px;

}

.action_button{
    width: 300px;
    height: 80px;
    border: 1px solid rgb(200, 15, 200);
    margin-top: 10px;
    background-color: rgba(200,15,200, 0.1);
}

.action_button:hover{
    border: 1px solid white;
    background-color: rgb(200,15,200);
}

.action_button:hover .text_button {
    transform: scale(1.05);
}

.text_button{
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
}

.sect_links{
    margin-left: auto;
    margin-right: auto;
}

.links{
    display: flex;
    height: 50px;
    align-items: center;
    align-content: space-between;
}

#instagram{
    height: 50px;
    margin: 10px;
}

#instagram:hover {
    transform: scale(1.05);
}

#youtube{
    height: 50px;
}

#youtube:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 900px) {
    #logo_text{
        font-size: 30px;
    }
}