@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

@keyframes in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    transition: .5s ease;
    color: white;
}

body {
    animation: 1s ease-out 0s 1 in;
}

a{
    text-decoration: none;
}

div::after {
    content: "";
    clear: both;
}

.hero{
    width: 100%;
    background-image: url(../media/img/background.png);
    background-size:auto;
    background-position: center;
    position: relative;
    overflow: hidden;
}
/*NAVIGATION BAR*/
.nav_bar{
    display: flex;
    align-items: center;
    height: 100px;
    background-color: rgba(0, 0, 0, 1);
}

#logo{
    height:100%
}

#logo_text{
    margin: 0px 0px 0px 10px;
    font-size: 40px;
}

/*GRADIENT*/
.gradient{
    height: 50px;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5));
}

/*MAIN*/
.main{
    padding: 0% 10% 10% 10%;
    background-color: rgba(0,0,0,0.5);
    display: grid;
                        /*par1 par2 par3 return*/
    grid-template-rows: auto auto auto auto;
    row-gap: 20px;
}

#back {
    background: rgb(255, 255, 255);
    border-radius: 25px;
}

.header_text {
    font-size: 30px;
    margin-bottom: 10px;
}

.dropbtn {
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgba(54, 54, 54, 0.5);}

  .place {
    list-style-type: none;
    padding: 20px;
    margin: 1% 1% 25px 1%;
    border: 1px solid white;
    font-size: 23px;
  }